.questionContent {
    display: flex;
    flex-direction: column;
    background-color: #080808;
    border-radius: 5px;
    padding: 10px 20px 10px;
    cursor: pointer;
}

.question {
    font-family: Tahoma, sans-serif;
    padding: 0 15px 0;
    height: fit-content;
    width: calc(100% - 350px);
    margin: 0 20px 20px;
}

.profilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454545;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 20px 20px 0;
    font-size: 120px;
}

/* Main */
.userInfoSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292a2c;
    width: 278px;
    height: 100%;
    position: fixed;
    top: 80px;
    left: 0;
}

.userInfoSidebar h3 {
    margin: 15px 30px 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.userInfoSidebar p {
    color: #878787;
    margin: 15px 30px 0;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.userInformation {
    text-align: center;
}

.profileStats {
    width: calc(100% - 350px);
    align-self: flex-end;
    margin: 100px 30px 20px;
    background-image: linear-gradient(to bottom right, #c40e0e, #ae0101);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.theActualProfileStetistics {
    font-family: 'Trebuchet MS', sans-serif;
    flex-grow: 1;
}

.theActualProfileStetistics p {
    margin: 12px 5px 30px;
}

.profilestatisticsStatsBottom h2 {
    margin: 0;
}

.profilestatisticsStatsBottom {
    margin: 0 20px 20px;
}

.totalRating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;

    font-family: 'Trebuchet MS', sans-serif;
    color: #2d2d2d;
}

.ratingTotalCenterContainer {
    /* background-color: #000000; */
    margin-right: 20px;
    text-align: center;
}

.totalRating h1 {

    font-size: 45px;
    margin: 0;
    
}

.totalRating p {

    margin: 0;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -0.05em;
}
.userBiography {
    background-color: #2d2b2b;
    width: calc(100% - 386px);
    align-self: flex-end;
    margin: 0 30px 30px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 20px;
}

.userBiography h1 {
    margin: 0;
    color: #9c1818;
}

.userLinks {
    width: 100%;
    align-self: center;
    position: relative;
    top: 2%;
    right: 8%;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 19px;
}

#edit {   
    background-image: linear-gradient(to bottom right, rgb(211, 40, 40), rgb(158, 39, 39));
    padding: 15px 40px 15px 40px;
}

#delete {
    background-image: linear-gradient(to bottom right, rgb(211, 40, 40), rgb(158, 39, 39));
    padding: 15px 40px 15px 40px;
}

.rowAlign {
    display: flex;
}

.rowAlign2 {
    display: flex;
    margin-left: 10px;
}

#whoAsked {
    display: none;
}

.editProfileTitleCardContainer {
    padding-top: 80px;
    background-image: linear-gradient(to bottom right, #ca1111, #a01111);
    font-family: 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.editProfileTitleCardContainer p {
    margin: 0;
    padding: 15px;
    font-weight: 900;
    font-size: 50px;
}

.editProfileContainer {
    display: flex;
    background-color: #2d2d2d;
    width: 80%;
    align-self: center;
    margin-top: 40px;
    border-radius: 4px;
}

.profilePictureInEdit {
    align-self: center;
    margin-bottom: 20px;
}

.editUserInfoSide {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-bottom: 10px;
}

.editUserInfoSide input {
    margin: 0 0 10px;
    width: 80%;
    align-self: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    background-color: #444444;
    color: aliceblue;
    letter-spacing: 0.03em;
    font-weight: 400;
}

.editUserInfoSide input:focus {
    /* border: solid 2px aliceblue; */
    border: none;
    outline: aliceblue;
}

.editUserInfoSide label {
    margin-left: 10%;
    font-family: 'Trebuchet MS', sans-serif;
}

.editAccountInfoSide {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 10px;
    padding-right: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.editAccountInfoSide textarea {
    background-color: #393939;
    border: none;
    border-radius: 3px;
    padding: 10px;
    resize: none;
    font-family: 'Trebuchet MS', sans-serif;
    color: aliceblue;
    height: 100%;
    margin-bottom: 10px;
}

.thebelowButtonStuffAgain {
    display: flex;
    font-family: 'Trebuchet MS', sans-serif;
    justify-content: flex-end;
}

.thebelowButtonStuffAgain button {
    color: aliceblue;
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding: 10px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.deleteAccountBttn {
   background-color: #be0a0a;
   border-radius: 2px;
}

.deleteAccountBttn:hover {
    transition: all 0.2s;
    background-color: #a40808;
 }

.applyChaingesBttn {
    background-color: #0b0b0b;
    border-radius: 2px;
    margin: 0 0 0 10px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.applyChaingesBttn:hover {
    transition: all 0.2s;
    background-color: #1d1d1d;
}

.editAccountInfoSide textarea:focus {
    /* border: solid 2px aliceblue; */
    border: none;
    outline: none;
}

.editAccountInfoSide label { 
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

@media (max-width: 630px) {
    .userInfoSidebar {
        position: unset;
        top: unset;
        left: unset;
        width: 100%;
        padding: 100px 0 20px;
    }

    .profileStats {
        width: 100%;
        align-self: center;
        margin: 0 30px 0;
        border-radius: unset;
        flex-direction: column;
        padding-bottom: 10px;
    }

    .profilestatisticsStatsBottom h2 {
        margin: 0 10px 0;
    }

    .totalRating {
        align-items: flex-start;
    }

    .ratingTotalCenterContainer {
        display: flex;
        flex-direction: row;
    }

    #totalRating {
        margin-left: 5px;
    }

    .rowAlign2 {
        margin: 5px;
        display: flex;
        justify-content: flex-start;
    }

    .rowAlign2 h1 {
        margin: 0 5px 0;
    }

    .rowAlign2 p {
        margin: 0 5px 0;
    }

    .rowAlign {
        margin: 0;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    .profilestatisticsStatsBottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .totalRating h1 {

        font-size: 35px;
        margin: 0;
        margin-left: 10px;        
    }
    
    .totalRating p {
    
        margin: 0;
        font-size: 40px;
        font-weight: bold;
        letter-spacing: -0.03em;
    }

    .userBiography {
        background-color: #2d2b2b;
        width: 100%;
        align-self: center;
        margin: 0;
        border-radius: unset;
        padding: 0;
    }

    .userBiography h1 {
        margin: 5px 10px 0;
    }

    #insertBiographyHere {
        margin: 12px 10px 20px;
    }

    .defaultTitleStyling {
        align-self: flex-start;
        margin-left: 10px;
    }

    .question {
        padding: 0 2px 0;
        height: fit-content;
        width: 100%;
        margin: 0;
    }

    .questionContent {
        border-radius: unset;
    }

    .rightAlignedSepirator {
        display: none;
    }

    .footer {
        margin-top: 20px;
    }

    .editProfileContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
        align-items: center;
        margin-top: 40px;
        border-radius: 0;
    }

    .editAccountInfoSide {
        display: flex;
        flex-direction: column;
        /* background-color: #878787; */
        width: 100%;
        padding: 0;
    }

    .thebelowButtonStuffAgain {
        display: flex;
        flex-direction: column-reverse;
        font-family: 'Trebuchet MS', sans-serif;
        justify-content: flex-end;
    }

    .applyChaingesBttn {
        margin: 0 2% 0;
        justify-content: center;
    }

    .editAccountInfoSide label { 
        align-self: center;
    }

    .editAccountInfoSide textarea {
        /* border-radius: 0; */
        min-height: 20vh;
        margin: 0 10px 10px;
    }

    .deleteAccountBttn {
        width: 96%;
        align-self: center;
    }
}
