/* Global Styling */
body {
    background-color: rgb(25, 25, 25);
    color: aliceblue;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
}

/* Header */
#apatureLogo {
    height: 50px;
    margin-right: 10px;
}

/* Hero */
.logoImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    font-family: Tahoma, sans-serif;
}

.logoImage h1 {
    margin-left: 10px;
    margin: 0 0 0 0;
    font-size: 25px;
}

/* Navigation */
.navigationBar {
    display: flex;
    min-width: 800px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(11, 11, 11), rgb(10, 20, 28));
    height: 80px;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.navLinks {
    gap: 10px;
    margin: 0 130px 0 0;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    gap: 40px;
}

.navLinks p:hover {
    color: rgb(212, 210, 237);
}

.navLink {
    text-decoration: none;
    color: white;
}

.navLink:hover {
    text-decoration: none;
    color: rgb(158, 41, 41);
    transition: all 0.3s;
}

.navLinks li {
    list-style-type: none;
}

.navLinks a:hover {
    text-decoration: none;
    color: rgb(158, 41, 41);
    transition: ease 0.3s;
}

.menu {
    border-top: 10px rgb(218, 218, 218) solid;
    background-image: linear-gradient(to bottom right, rgb(211, 40, 40), rgb(67, 1, 1));
    height: 100px;
    width: 300px;
    rotate: -135deg;
    position: fixed;
    right: -90px;
    top: -75px;
    z-index: 3;
}

.menu button {
    border: none;
    transition: all 0.2s;
    background-color: transparent;
    color: aliceblue;
    font-size: 35px;
    rotate: 135deg;
    position: fixed;
    left: 75px;
    bottom: 45px;
    cursor: pointer;
}

.menu button:hover {
    color: rgb(39, 39, 39);
    transition: all 0.1s;
}

.foldopenMenu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: Arial, sans-serif;
    position: fixed;
    right: -320px;
    top: 0;
    height: 100vh;
    width: 311px;
    background-color: rgb(41, 42, 44);
    z-index: 2;
    border-left: solid 1px rgb(28, 28, 28);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s;
}

.username {
    color: rgb(241, 255, 240);
    padding: 12px;
    /* background-image: linear-gradient(to bottom right, rgb(0, 160, 209), rgb(0, 160, 209)); */
    background-image: linear-gradient(to bottom right, #1e1e1e, #000000);
    border-radius: 3px;
}

.foldopenMenu h3 {
    color: aliceblue;
    margin: 10px 0 0 15px;
    background-image: linear-gradient(to bottom right, rgb(25, 22, 39), rgb(0, 0, 0));
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.foldopenMenu p {
    margin-left: 20px;
    cursor: pointer;
    color: aliceblue;
}

.foldopenMenu a {
    text-decoration: none;
    color: aliceblue;
}

.foldopenMenu a:hover {
    color: rgb(180, 180, 180);
    transition: ease 0.1s;
}

.corporateSeals {
    background-color: brown;
}

/* Main */
.barka {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(211, 40, 40), rgb(67, 1, 1));
    border-top: 10px rgb(218, 218, 218) solid;
    height: 200px;
    width: 600px;
    rotate: 45deg;
    position: fixed;
    left: -200px;
    bottom: -75px;
}

.barka button {
    color: aliceblue;
    font-size: 30px;
    rotate: -45deg;
    position: relative;
    bottom: 15px;
    right: 50px;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(35, 27, 27);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.defaultInputBox {
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    height: fit-content;
    border: solid rgb(168, 32, 32) 2px;
    margin-top: 170px;
    margin-bottom: 70px;
    width: 30%;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgb(14, 14, 14), rgb(11, 21, 31));
}

.defaultInputBox h1 {
    font-family: Arial, sans-serif;
    align-self: center;
    font-size: 50px;
    margin: 0;
}

::placeholder {
    color: rgb(198, 252, 252);
    opacity: 1; /* Firefox */
  }

.defaultInputBox input {
    border: 3px solid rgb(58, 58, 58);
    background-color: rgb(87, 94, 100);
    padding: 5px;
    border-radius: 1px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 20px;
    outline: none;
    width: 79%;
    align-self: center;
    transition: all 0.3s;
}

.defaultInputBox input:focus {
    border: 3px solid rgb(210, 210, 210);
    transition: all 0.2s;
}

.defaultInputBox label {
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 7px;
    letter-spacing: 0.05em;
    width: 80%;
    align-self: center;
}

.hideBttn {
    cursor: pointer;
    align-self: center;
    margin-right: 7px;
    display: none;
}
.unHideBttn {
    cursor: pointer;
    align-self: center;
    margin-right: 7px;
}

#eyeSymbol:hover {
    color: rgb(208, 208, 208);
    transition: all 0.2s;
}

#password {
    margin-bottom: 0;
    width: 90%;
    border: none;
}

.passPhrase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid rgb(58, 58, 58);
    background-color: rgb(87, 94, 100);
    width: 82%;
    align-self: center;
    margin-bottom: 20px;
}

.defaultInputBox button {
    border: none;
    border-radius: 2px;
    color: aliceblue;
    font-size: 19px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.registerNewUser, .loginUser {
    background-image: linear-gradient(to bottom right, rgb(211, 40, 40), rgb(158, 39, 39));
    padding: 15px 40px 15px 40px;
}

.registerNewUser:hover, .loginUser:hover {
    background-image: linear-gradient(to bottom right, rgb(211, 40, 40), rgb(200, 22, 22));
    transition: ease 0.3s;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.otherOptionRedirect {
    background-image: linear-gradient(to bottom right, rgb(47, 45, 49), rgb(46, 46, 46));
    padding: 15px 20px 15px 20px;
}

.otherOptionRedirect:hover {
    background-image: linear-gradient(to bottom right, rgb(33, 32, 35), rgb(29, 29, 29));
}

.mainContent {
    display: flex;
    flex-direction: column;
}

.pageTitle {
    display: flex;
    justify-content: space-between;
    background-color: rgb(183, 54, 54);
    margin-top: 100px;
    padding-left: 1%;
}

.posts {
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    height: 800px;
}

.question {
    background-color: #1e1e1e;
    height: 200px;
    border-radius: 5px;
    width: 80%;
    margin: 20px 0 20px 0;
}

#errMsg {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(207, 31, 25);
    text-align: center;
    font-size: 25px;
    margin: 0;
    transition: all 0.4s;
    text-align: left;
}

#infoMsg {
    display: none;
    font-family: 'Courier New', monospace;
    text-align: center;
    font-size: 15px;
    color: rgb(153, 149, 149);
    margin: 0;
    padding: 10px;
    text-align: left;
}

.errorPopup {
    border: solid rgb(207, 31, 25) 5px;
    border-radius: 40px;
    display: flex;
    position: fixed;
    background-color: rgb(66, 66, 66);
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    bottom: 0;
    right: -570px;
    width: 500px;
    height: fit-content;
    transition: all 0.3s;
    padding: 15px;
    z-index: 10000;
}

.errPopupInfo {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-self: center;
    flex-grow: 1;
}

.errPopupIcon {
    display: flex;
    align-items: flex-start;
    /* background-color: green; */
}

.errPopupIcon i {
    font-size: 40px;
    color: rgb(207, 31, 25);
}

.successPopup {
    border: solid rgb(28, 207, 25) 5px;
    border-radius: 40px;
    display: flex;
    position: fixed;
    background-color: rgb(66, 66, 66);
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px;
    bottom: 0;
    right: -570px;
    width: 500px;
    height: fit-content;
    transition: all 0.3s;
    padding: 15px;
    z-index: 10000;
}

.successIcon {
    font-size: 40px;
    color: rgb(28, 207, 25);
}

.successPopupInfo { 
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-self: center;
    flex-grow: 1;
}

#successMsg {
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(28, 207, 25);
    text-align: center;
    font-size: 25px;
    margin: 0;
    transition: all 0.4s;
    text-align: left;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(97, 123, 148) inset !important;
}

/* Footer */
.tempitem {
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: fit-content;
    width: 100%;
    align-self: center;
}

.footer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(11, 11, 11), rgb(2, 5, 8));
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: auto;
    margin-top: 25vh;
}

.corpoFiller {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-around;
    margin: 10px;
    width: 80%;   
}

.footerFillerItem {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.footerFillerItem h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', sans-serif;
}

.footerFillerItem p, a {
    font-family: Verdana, sans-serif;
    margin: 0 0 5px 0;
    letter-spacing: 0.05em;
    margin-left: 5px;
    cursor: pointer;
    width: fit-content;
}


.footerFillerItem p:hover { 
    color: rgb(85, 83, 108);
}

.footerFillerItem a:hover { 
    color: rgb(139, 61, 122);
    cursor: help;
}

.socialMedia i:hover { 
    color: rgb(85, 83, 108);
}

.socialMedia {
    width: 80%;
    align-self: flex-end;
    font-size: 30px;
    
}

.socialMedia p {
    margin: 0;
    margin-left: 10px;
}

.copyRightNonsense {
    color: rgb(84, 84, 84);
    font-family: Verdana, sans-serif;
    width: 80%;
    align-self: flex-end;
    text-align: center;
    margin: 0;
}

#deleteThis {
    align-self: center;
    margin-left: 40px;
    background-color: #000000;
    padding: 15px;
}

#deleteThis Pre {
    margin: 0;
    padding: 0;
}

#deleteThis Pre {
    margin: 0;
    padding: 0;
}

/* Responsive */
@media (max-width: 630px) {
    .defaultInputBox {
        width: 75%;
    }
    .copyRightNonsense {
        margin-bottom: 250px;
        align-self: center;
        width: 100%;
    }

    .socialMedia {
        align-self: center;
        text-align: center;
        margin-top: 0;
    }

    .corpoFiller {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .footerFillerItem {
        margin-left: 10%;
    }

    .defaultInputBox {
        margin-top: 110px;
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .question {
        border-radius: 0;
    }

    .logoImage h1 {
        font-size: 17px;
    }

    .buttonRow {
        flex-direction: column;
    }
}
